.footer {
    z-index: 1;
    position: relative;

    &-bg {
        z-index: -1;
        @include absoldefault;

        img {}
    }

    .heading-sub {
        a {
            text-decoration: underline;

            &:hover {
                color: $color-grayalt;
            }
        }
    }

    &-top {
        z-index: 1;
        position: relative;
        color: #fff;
        padding: 4rem 0;
        text-align: center;

        &-bg {
            position: absolute;
            bottom: calc(100% - 1px);
            left: 0;

            img {
                width: 100%;
            }
        }

        &-wave {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;

            img {
                width: 100%;
            }
        }

        &::before {
            z-index: -1;
            content: "";
            @include absoldefault;
        }

        &::before {
            // background: rgba(#000, .75);
        }
    }

    &-about {
        max-width: 50rem;
        @include margin-auto;
        margin-bottom: 2rem;

        p {
            font-size: 1.75rem;
            line-height: 1.8;
            opacity: .8;
        }
    }

    .social-icon {
        display: inline-block;
        margin: 2rem 0;

        &:not(:last-child) {
            margin-right: 1.5rem;
        }

        a {
            display: block;
            border: 1px solid #fff;

            &:hover {
                color: #fff;
                background-color: $color-main;
                border-color: $color-main;
            }
        }

        i {
            display: block;
            width: 4rem;
            height: 4rem;
            line-height: 4rem;
            font-size: 2rem;
        }
    }

    &-nav {
        display: block;
        list-style-type: none;
        padding: 2rem 0;

        >li {
            display: inline-block;
            font-size: 1.75rem;
            margin-bottom: 1.5rem;

            &:not(:last-child) {
                margin-right: 1.5rem;
            }
        }
    }

    .logowrap {
        img {
            max-width: 18rem;
            padding: 0;
            margin-bottom: 2rem;
        }
    }

    &-bot {
        position: relative;
        color: #fff;
        text-align: center;

        .container {
            padding: 2rem;
            border-top: 1px solid rgba(#fff, 0.1);
        }

        h2 {
            font-family: $font-common;
            font-size: 1.4rem;
            font-weight: 500;
            opacity: 0.8;

            strong {
                white-space: nowrap;
            }
        }

        .logowrap {
            margin-bottom: 2rem;
        }
    }

    @include respond(tabland-min) {}

    @include respond(tabland) {}
}