.header {
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    &-row {
        display: flex;
        align-items: flex-start;
        padding-top: 20px;


    }

    &-left {
        flex: 0 0 25rem;

        @media (max-width: 567px) {
            flex: 0 0 16rem;
        }
    }

    &-right {
        color: #fff;
        flex: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (max-width: 567px) {
            flex-wrap: wrap;
            justify-content: flex-end;
        }
    }

    &-nav {
        color: $color-black;
    }

    .social-icons {
        margin-left: 2rem;
        background-color: $color-main;
        border-radius: 6px;
        padding: 5px 15px;
        white-space: nowrap;

        @media (max-width: 567px) {
            margin-top: 20px;
        }
    }

    &-navigation {}


}

.site-logo {
    width: 160px;

    @media (max-width: 991px) {
        width: 120px;
    }

    img {
        width: 100%;
    }

    &-alt {
        display: none;
    }
}