.header {
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    &-row {
        display: flex;
        align-items: flex-start;
        padding-top: 20px;
    }

    &-left {
        flex: 0 0 25rem;
    }

    &-right {
        color: #fff;
        flex: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &-nav {
        color: $color-black;
    }

    .social-icons {
        margin-left: 2rem;
        background-color: $color-main;
        border-radius: 6px;
        padding: 5px 15px;
        white-space: nowrap;
    }

    &-navigation {}


}

.site-logo {
    width: 16rem;

    img {
        width: 100%;
    }
}